NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_keyNEXT_PUBLIC_SUPABASE_URL=halkan_geli_supabase_url_kaaga
NEXT_PUBLIC_SUPABASE_ANON_KEY=halkan_geli_supabase_anon_key_kaaga
NEXT_PUBLIC_MERCHANT_PHONE=0613424271